# OS-specific
.DS_Store
*~

# Vagrant stuff
acceptance_config.yml
boxes/*
/.vagrant
/website/docs/.vagrant
/website/www/.vagrant
/vagrant-spec.config.rb

# Bundler/Rubygems
*.gem
.bundle
pkg/*
tags
/Gemfile.lock
test/tmp/
vendor/

# Documentation
_site/*
.yardoc/
doc/

# Python
*.pyc

# Rubinius
*.rbc

# IDE junk
.idea/*
*.iml
.project
*.ipr
*.iws

# Ruby Managers
.rbenv
.ruby-gemset
.ruby-version
.rvmrc

# Website: docs
website/docs/.sass-cache
website/docs/build
website/docs/Rakefile

# Website: www
website/www/.sass-cache
website/www/build
website/www/Rakefile
exec/

*.class
*.log

# sbt specific
*/.cache
*/.history
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
*/.scala_dependencies
*/.worksheet

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
